@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
body {
  font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
  color: #222355;
}

h1, h2 {
  font-size: 2.2rem;
}

.button {
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 30px 30px;
  transition: all 0.5s ease-out;
}

header {
  padding: 10px 0;
  box-shadow: 0px 3px 3px rgb(232, 231, 231);
}
header .navbar-brand img {
  max-width: 150px;
}
header .navbar-nav {
  padding-left: 0;
}
header .navbar-nav .nav-item {
  padding: 0 15px;
}
header .navbar-nav .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: 0 auto;
  background-color: red;
  transition: all 0.2s ease-in;
}
header .navbar-nav .nav-item:hover::after {
  width: 100%;
}
header .navbar-nav .nav-item .nav-link {
  color: #222355;
  padding: 0;
  font-size: 1.4rem;
}

/* ANIMATIONS */
footer {
  background-color: #eaf0ff;
  color: white;
}
footer .footer-container {
  background-color: #22234f;
  position: relative;
  top: -20px;
}
footer .footer-container #footer-img1 {
  text-align: center;
}
footer .footer-container #footer-img1 #footer-img2 {
  background-color: #f7f9ff;
  display: inline-block;
  margin: -20px auto 0;
  padding: 5px;
}
footer .footer-container #footer-img1 #footer-img2 img {
  width: 350px;
}
footer .footer-container .footer-infos {
  padding: 30px 20px;
}
footer .footer-container .footer-infos i {
  color: red;
  font-size: 1.8rem;
  margin: 0 10px;
}
footer .footer-container #footer-infos-left {
  margin: 5px 0;
}
footer .footer-container #footer-infos-center {
  text-align: center;
}

#presentation {
  margin: 50px auto 80px;
  text-align: center;
}
#presentation h1::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  margin: 0 auto;
  background-color: red;
}
#presentation #presentation-imgl {
  background-image: url("../img/chiens-adoption-spa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin-top: 40px;
  position: relative;
  bottom: -20px;
}
#presentation #presentation-imgl a {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
  background-color: #22234f;
  color: white;
}
#presentation #presentation-imgl a:hover {
  background-color: #d9e2f7;
  color: #22234f;
}
#presentation #presentation-imgr {
  background-image: url("../img/chats-adoption-spa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin-top: 40px;
  position: relative;
  bottom: -20px;
}
#presentation #presentation-imgr a {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
  background-color: #22234f;
  color: white;
}
#presentation #presentation-imgr a:hover {
  background-color: #d9e2f7;
  color: #22234f;
}
#presentation #presentation-2 {
  margin: 100px 0 50px;
}
#presentation #presentation-2 img {
  max-height: 200px;
  display: block;
  margin: 10px auto;
}
#presentation #presentation-2 a {
  color: #222355;
  font-size: 1.6rem;
  text-decoration: none;
}

#galerie {
  padding-top: 30px;
  margin-bottom: 150px;
  background-color: #eaf0ff;
  text-align: center;
}
#galerie h2::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  margin: 0 auto;
  background-color: red;
}
#galerie #galerie-img1 {
  background-image: url("../img/C11-F-Rhodesian-Noir-Blanc-120520-Kila-6-274x363.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin-top: 40px;
  position: relative;
  bottom: -20px;
}
#galerie #galerie-img1 a {
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%);
  background-color: #f7f9ff;
  color: #22234f;
}
#galerie #galerie-img1 a:hover {
  background-color: #d9e2f7;
}
#galerie #galerie-img2 {
  background-image: url("../img/C11-F-Rhodesian-Noir-120521-Seilba-7-274x363.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin-top: 40px;
  position: relative;
  bottom: -20px;
}
#galerie #galerie-img2 a {
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%);
  background-color: #f7f9ff;
  color: #22234f;
}
#galerie #galerie-img2 a:hover {
  background-color: #d9e2f7;
}
#galerie #galerie-img3 {
  background-image: url("../img/C7-F-BA-Noir-Fauve-119916-Nouma-4-274x363.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin-top: 40px;
  position: relative;
  bottom: -20px;
}
#galerie #galerie-img3 a {
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%);
  background-color: #f7f9ff;
  color: #22234f;
}
#galerie #galerie-img3 a:hover {
  background-color: #d9e2f7;
}
#galerie #galerie-img4 {
  background-image: url("../img/B21-M-x-braque-119192-Marquis-4-274x363.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin-top: 40px;
  position: relative;
  bottom: -20px;
}
#galerie #galerie-img4 a {
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%);
  background-color: #f7f9ff;
  color: #22234f;
}
#galerie #galerie-img4 a:hover {
  background-color: #d9e2f7;
}

/*# sourceMappingURL=style.css.map */
