.button {
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 30px 30px;
    transition: all 0.5s ease-out;
    

}

// .btn-services {
//     text-decoration: none;
//     color: $section-color;
//     transition: all 0.5s ease-out;

//     &:hover {
//         color: $section-bg;
//     }    
// }