// BODY

$color: #222355;

// TITRES

$sous-titre-color: red;

// BOUTONS PRESENTATION

$btn-pres-color: white;
$btn-pres-bg: #22234f;
$btn-pres-bg-hover: #d9e2f7;

// BOUTONS GALERIE

$btn-gal-color: #22234f;
$btn-gal-bg: #f7f9ff;
$btn-gal-bg-hover: #d9e2f7;

// SECTIONS

$section-bg: #eaf0ff;
$footer-bg: #22234f;
$shadow: 0px 3px 3px rgb(232, 231, 231);
